<h1>New Pet</h1>

<form action="/gallery" method="POST">

<div>
    <input type="text" name="name" placeholder="Name">
</div>
<div>
    <input type="text" name="fee" placeholder="Rehoming Fee">
</div>
<div>
    <textarea name="description"  placeholder="Description"></textarea>
</div>
<div>
    <input type="text" name="images" placeholder="Images">
</div>
<div>
    <input type="submit">
</div>







</form>

